
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read access to all files
      allow read;
      // Deny all write access
      allow write: if false;
    }
  }
}
